* {
    box-sizing: border-box;
    margin: 0;
    font-size: 12px;
    font-family: barlow;
}

@font-face {
    font-family: barlow;
    src: url(./font/BarlowSemiCondensed-Regular.ttf);
}

html {
    background-color: #cfcfcf;
}
.user img{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 2px solid pink;
}
#pattern {
    position: absolute;
    right: 10%;
    top: 0px;
    /* opacity: 0.2; */
    z-index: 1;
}

.template {
    display: flex;
    padding: 1rem;
    width: 1200px;
    height: 600px;
    margin: auto;
}
.left {
    display: flex;
    flex-direction: column;
    flex-basis: 77%;
}
.right {
    margin-left: 15px;
    flex-basis: 23%;
    background-color: white;
    padding: 1.5rem 2rem;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}
.top {
    display: flex;
    height: 50%;
    margin-bottom: 15px;
}
.bottom {
    display: flex;
    height: 50%;
}
.long {
    flex-basis: 70%;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    position: relative;
}
.short {
    flex-basis: 30%;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}
.user {
    display: flex;
    align-items: center;
}
.user, .long p {
    position: relative;
    z-index: 2;
}
.user-name {
    margin-left: 15px;
}
.long > p {
    margin: 1rem 0rem;
}
#testimonial-1 {
    background-color: #7541c8;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
}
#testimonial-1, #testimonial-3 {
    margin-right: 15px;
}
#testimonial-2 {
    background-color: #48556a;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
}
#testimonial-3, .right {
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding: 1.5rem 2rem;
}
#testimonial-4 {
    border-radius: 0.5rem;
    background-color: #19212e;
    padding: 1.5rem 2rem;
}
.white-text {
    color: #cfcfcf;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 1.2rem 0px;
}
.gray-text {
    color: #cfcfcf;
    opacity: 0.7;
    font-size: 1.2rem;
}
.less-opacity-text {
    color: #cfcfcf;
    opacity: 0.5;
}
.black-text {
    color: #19212e;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1.2rem 0px;
}
.user-name p {
    color: #cfcfcf;
}
#testimonial-3 .user-name p, #testimonial-5 .user-name p {
    color: #19212e;
}
#testimonial-3 .gray-text, #testimonial-5 .gray-text {
    color: #19212e;
    opacity: 0.7;
}

@media (max-width: 1200px) {
    .template {
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .right {
        margin: 15px 0px;
    }
    #pattern {
        height: 100px;
        width: 100px;
        /* right: 20px; */
    }
}

@media (max-width: 768px) {
    .template, .left, .top, .bottom, .right {
        display: block;
        margin: 0px;
    }
    .long, .short, #testimonial-5 {
        margin: 15px 0px;
    }
    #testimonial-1, #testimonial-3 {
        margin: 0px;
    }

    img {
        height: 30px;
        width: 30px;
    }
    #pattern {
        height: 100px;
        width: 100px;
        right: 15%;
    }
}
